* {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Noto Sans', sans-serif;
  }
  
  body {
    background-color: rgb(56, 54, 58);
    min-height: 100vh;
  }
  
  .play-area {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    height: 90svh; 
  }

  .title{
    text-align: center;
  }

  .hangman{
    margin: 0 auto;
  }

  svg{
    width: 350px;
  }
  
  .game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 375px; 
    margin: 0 auto;
    
  }
  
  button {
    width: 30px;
    height: 30px;
    border-radius: 5px;  
    margin: 0 3px 3px 0;
    cursor: pointer;
    background-color: #666;
    border: none;
    font-size: 15px;
  }

  .word{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 10px;
    
  }

  h2{
    text-align: center;
    margin: 5px;
    font-size: 16px;
    font-weight: 300;
  }

  .letter{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 28px;
    width: 30px;
    height: 40px;
    background-color: #666;
    border-bottom: 4px solid rgb(31, 31, 31);
    border-radius: 5px 5px 2px 2px;
    margin: 2px;     
    font-weight: 500;
    text-transform: uppercase;
  }
  

  .play-game{
    position: absolute;
    top: 40%;
    left: 50%;    
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(39, 38, 41);
    width: 300px;
    font-size: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  p{
    font-size: 15px;
  }

#languageSelect{
  top: 25px;
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
  
.language-option {
  width: 49px; 
  height: 30px; 
  background-size: cover; 
  background-position: center; 
  cursor: pointer;
  border-radius: 4px;
}

.language-option[data-lang="swedish"] {
  background-image: url("img/sweden.svg"); 
}

.language-option[data-lang="english"] {
  background-image: url("img/britain.svg");
}

.title{
  font-size: 24px;
}
